<div class="container-new">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h1>Create a new cocktail</h1>
        <hr>
      <%= simple_form_for [@cocktail] do |f| %>
      <h3><%= f.input :name %></h3>


        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

